

body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: :whitesmoke ;
}

.box {
    height: 300px;
    width: 600px;
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin: 8px;
    align-items: center;
    justify-content: center;
}